<a href="#" id="target-{{ id }}">
  <img alt="Shielded site" src="https://shielded.co.nz/img/custom-logo.png" height="60" width="60" />
</a>
<script defer src="https://staticcdn.co.nz/embed/embed.js"></script>
<script>
  (function () {
    window.onload = function(){
      var frameName = new ds07o6pcmkorn({
        openElementId: "#target-{{ id }}",
        modalID: "modal",
      });
      frameName.init();
    }
  })();
</script>
