<script defer src="https://staticcdn.co.nz/embed/embed.js"></script>
<script>
  (function () {
    window.onload = function(){
      var frameName = new ds07o6pcmkorn({
        left: 300,
        top: 0,
        iconSize: "{{ size }}",
        modalID: "modal",
      });
      frameName.init();
    }
  })();
</script>
